SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ACCOUNT=your_account.region.cloud
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=fraud_db
SNOWFLAKE_SCHEMA=public
AWS_REGION=us-east-1
SAGEMAKER_ENDPOINT_NAME=fraud-endpoint
